body{
    width: 80%;
    margin: 0 auto;
    background-image: url('https://t4.ftcdn.net/jpg/02/99/78/83/360_F_299788342_zZuxKx2fLt8Ji2uZVFYuXM33wk5Vgy6W.jpg');
    background-size: contain;
    margin-left: auto;
    margin-right: auto;
}

.container{
    background-color: #ffffffa3;
}

h1{
    text-align: center;
    margin-top: 40px;
    margin-bottom: 30px;
    font-size: 50px;
}

h2{
    text-align: center;
    margin-bottom: 100px;
}

.subheader{
    font-size: 30px;
    text-align: center;
}

li{
    font-size: 20px;
    margin-bottom: 30px;
    text-align: center;
    list-style-type:none;
}


img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    border: 2px solid black;
    border-radius: 5px;
   }